@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Roboto', sans-serif;
}

@layer components {
  .menu-item {
    @apply flex items-center gap-4 relative;
  }

  .nav-item{
    @apply font-bold relative p-2 before:content-[''] before:absolute before:bottom-0 before:left-0 before:w-0 before:h-[4px] before:bg-bp_primary-300  before:transition-all duration-1000 hover:before:w-full;
  }

  .card-options {
    @apply bg-bp_neutral-800 text-bp_neutral-50  border border-bp_neutral-600 rounded-md p-2;
  }

  .card-profile {
    @apply space-y-6 p-6 border border-bp_neutral-600 rounded-xl bg-bp_neutral-800 text-bp_neutral-50;
  }

  .title-h1 {
    @apply text-2xl md:text-3xl font-bold;
  }

  .menu-item::after {
    content: "";
    width: 0%;
    height: 2px;
    background-color: #F7F7F7;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: .3s ease-in-out;
  }
  
  .menu-item:hover:after {
    width: 100%;
  }
}
